{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content%}

<div class="container">
  <div class="row">
    <div class="col-md-1">
        <img class="logo_main" src="{{url_for('static', filename='images/BlenderDesktopLogo.png', width=20)}}" />
    </div>
    <div class="col-md-11">
        <h1 class="title">Blender Fender</h1>
        <h3 class="subtitle">LOG IN</h3>
    </div>
    </div>

    <div class="row">
    

    <div class="col-md-2"> </div>

    <div class="col-md-8">

      {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
          </div>

      {% endfor %}
      <!-- Login form  -->

      {{ wtf.quick_form(login_form) }}

      <div class="well">
      <p> Don't  have an account?</p>
        <a href="{{url_for('auth.register')}}">Register</a>
      </div>

    </div>

    <div class="col-md-2"> </div>

  </div>
</div>


{%endblock%}