{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}


<div class="base_style">
    <div class = "container main_page">
        <div class="row">

            <h2 class="medium-styled-text">Hey there, Welcome to Blender Fender!</h2>
            <div class="container" >
                    <p>Get Updates!</p>
            
                    {{ wtf.quick_form(subscribe_form)}}
                    
            
            </div>


            

{% endblock %}