{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}



    <div class = "container main_page">
        <div class="row">
                <img src="{{url_for('static', filename='images/logo_main.png', width=20)}}"/>

            <h2 class="medium-styled-text">Inspiration CAN be shared...</h2>


            <div class="jumbotron my_tron">
                <div>
                    <a href="{{url_for('main.new_pitch')}}">
                        <h3>Create a new Pitch..</h3></a>
                           
                        </div>
                </div>
            </div>        
        </div>
        </div>
    </hr>
    <div class="well">
        <div class="all-pitches">
                <div class="dropdown">
                        <button class="dropbtn">Pitch Categories</button>
                        
                        <div class="dropdown-content">
                                <a href="{{url_for('main.Creative_Ideas')}}" class="categories">
                                        <br>
                                        <h2>Creative Ideas</h2>
                                    </a>
                                <a href="{{url_for('main.Funny_Stories')}}" class="categories">
                                        <br>
                                        <h2>Funny Stories</h2>
                                    </a>
                                <a href="{{url_for('main.Motivational_Speeches')}}" class="categories">
                                        <br>
                                        <h2>Motivational Speeches</h2>  
                                    </a>
                                <a href="{{url_for('main.Business_Ideas')}}" class="categories">
                                        <br>
                                        <h2>Business Ideas</h2>
                                    </a>
                
                        </div>
                        </div>
                <hr> 
                <div class="center">
                    <h2>LATEST PITCHES</h2>
                    <div class="well">
                {{macro.displayPitches(pitches)}}
                </div>
                </div>

        </div>
        </div>

    </div>


{% endblock %}