{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="base_style">
    <div class = "container main_page">
            <div class="center">
                    <h2>Blender Fender - Our tutorials</h2>
                    <div class="well">
                            {{macro.displayPostsPage(post)}}
                            {{ wtf.quick_form(comment_form) }}
                
                </div>
                </div>
                </div>
                <div>
                        {% for item in comments %}
    <li>
        {{item.comment}}
        <h4>Posted by: {{item.username}}</h4>
    </li>
{% endfor %}
                </div>

                </div>


            

{% endblock %}