{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="base_style">
    <div class = "container main_page">
            <div class="center">
                    <h2>Blender Fender - Our tutorials</h2>
                    <div class="well">
                            {{macro.displayPostsPage(post)}}
                
                </div>
                </div>
                </div>
                </div>


            

{% endblock %}